html {
    background-color: white;
}

.pair {
  display: block;
  background-color: #eee;
  border: 3px solid black;
  box-shadow: 5px 5px 0  black;
  margin: 2em auto;
  width: fit-content;
}

@media screen and (max-device-width: 1309px){
    .pair {
        width: min-content;
    }
}


.slide {
    display: inline-block;
    position: relative;
    border: 3px solid black;
    box-shadow: 5px 5px 0  black;
    left: 0;
    margin: 20px;
    overflow: hidden;
}

.noteGroup {
  display: inline-block;
  top: 0;
  width: 600px;
  vertical-align: top;
  padding: 1em;
  color: #666;
}
