html {
    background-color: white;
}

section.slide {
    display: block;
    position: relative;
    border: 3px solid black;
    box-shadow: 5px 5px 0  black;
    left: 0;
    margin: 20px;
}

.notes {
  position: absolute;
  white-space: pre;
  top: 0;
  left: 100%;
  width: 600px;
  padding: 1em;
  color: #666;
}